* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(241, 240, 239)
}

.header-Block1 {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 120px;
  background-color: rgb(246, 221, 179);
  top: 0;
}

.header-Block_logo1 {
  position: absolute;
  z-index: 11;
  width: 70px;
  height: 70px;
  margin: 20px 70px;
  transition: transform 0.5s ease-in-out;
}

.header-Block_logo1:hover {
  transform: rotate(25deg);
}

.header-Block_biography1 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}

.header-Block_biography_text1 {
  width: 250px;
  background-color: rgb(112, 76, 44);
  z-index: 9;
  margin-right: 440px;
  margin-left: 90px;
  padding: 0;
  text-align: center;
  color: rgb(204, 156, 68);
  border-radius: 10px;
  transition: background-color 0.5s ease-out;
  box-sizing: border-box;
}

.header-Block_biography_text1 a {
  display: block;
  color: rgb(204, 156, 68);
  text-decoration: none;
  padding: 20px;
  width: 100%;
  height: 100%; 
  box-sizing: border-box;
}

.header-Block_biography_text1:hover {
  background-color: rgb(92, 56, 24);
  cursor: pointer;
}

.header-Block_history1 {
  position: absolute;
  width: 20%;
  right: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}

.header-Block_history_text1 {
  width: 250px;
  background-color: rgb(112, 76, 44);
  z-index: 9 ;
  text-align: center;
  padding: 0;
  padding: 20px;
  color: rgb(204, 156, 68);
  border-radius: 10px;
  margin-right: 90px;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
  box-sizing: border-box;
  
}
.header-Block_history_text1 a{
  display: block;
  color: rgb(204, 156, 68);
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 15px 25px; /* Пример отступов, настройте под свой дизайн */
  box-sizing: border-box;
}

.header-Block_history_text1:hover {
  background-color: rgb(92, 56, 24);
}
.Icon-by-nobel_icon1 {
  width: 100%;
  height: 100%;
  position: relative;
}
.Icon-by-nobel_icon1 img {
  width: 100%;
  height: 695px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  filter: brightness(30%);
}
.Icon-by-nobel_h11{
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 20%;
  transform: translateY(-80%);  /* Центрируем по вертикали */
  justify-content: center;
  color: rgb(204, 156, 68);
  align-items: center;
  text-align: center;
  font-size: 50px;
  font-weight: 100;
}
.first-10-years{
  margin-top: 170px;
  padding: 0 40px;
  position: relative;
  display: flex;
  width: 100%;
  font-size: 24px;
}
.first-10-years_text{
  padding-top: 80px;
  width: 40%;
  position: absolute;
}
.first-10-years_img{
  width: 50%;
  margin: 0 0 40px auto;
}
.first-10-years_img img {
  width: 800px;
  border-radius: 200px;
}
.first-10-years_under-footer{
  position: absolute;
  display: flex;
  right: 0;
  margin: 540px 370px 0 0;
}
.first-laur{
  margin: 40px 0 40px 40px;
  font-size: 24px;
}
.otbor{
  margin: 40px 0 40px 40px;
  font-size: 24px;
}
.second-10-years{
  width: 100%;
  position: relative;
}
.second-10-years_pavlov img{
  width: 400px;
  margin-left: 70px;
  border-radius: 100px;
  position: absolute;
  top: 50%;       
  transform: translateY(-50%);
}
.second-10-years_mechnikov img{
  width: 500px;
  border-radius: 100px;
  top: 50%;
  margin-right: 40px;
  transform: translateY(-50%);
  right: 0;
  position: absolute;
}
.second-10-years_text{
  width: 40%;
  margin: 0 auto 0 auto;
  padding: 180px 0 180px 0;
  text-align: center;
  font-size: 24px;
}
.most-popular, .sixteenss-years,.now-etap,.whatisit-evo,.whatisit-display,.whatisit-premia,.second-two,.first-two{
  margin: 40px 40px 0 40px;
  font-size: 24px;
}
.second-10-years_pavlov_under{
  font-size: 24px;
  position: absolute;
  margin: 589px 0 0 190px;
}
.second-10-years_mechnikov_under{
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 160px 200px 0 0;
}
.premia-po-econom{
  font-size: 24px;
  width: 100%;
  padding: 80px 0 0 40px;
  height: 500px;
  
}
.premia-po-econom_text{
  position: absolute;
  right: 0;
  width: 50%;
  padding-right: 50px;
  
}
.premia-po-econom_img{
  position: absolute;
  margin-top: 20px;
  padding-left: 150px;
  
}
.premia-po-econom_img img{
  border-radius: 100px;
}
.premia-po-econom_text_under{
  position: absolute;
  display: flex;
  margin: 350px 0 0 200px;
}
.twenty-twenty-eiht{
  position: relative;
  width: 100%;
  font-size: 24px;
  padding: 80px 0 0 40px;
  height: 450px;
}
.twenty-twenty-eiht_text{
  width: 50%;
  padding-top: 100px;
  position: absolute;
}
.twenty-twenty-eiht_foto{
  position: absolute;
  right: 0;
  height: 500px;
}
.twenty-twenty-eiht_foto img{
  width: 600px;
  padding-right: 50px;
}
.twenty-twenty-eiht_foto_under{
  position: absolute;
  right: 0;
  margin: 310px 70px 0 0
}
.primer-twenty-two{
  font-size: 24px;
  width: 100%;
  padding: 80px 0 0 40px;
  height: 560px;
}
.primer-twenty-two-img{
  position: absolute;
  margin-top: 20px;
}
.primer-twenty-two-img img{
  border-radius: 100px;
}
.primer-twenty-two-text{
  position: absolute;
  right: 0;
  width: 50%;
  padding-right: 50px;
  padding-top: 125px;
  
}
.primer-twenty-two-img_under{
  padding-top: 460px;
  padding-left: 140px;
}









.footer{
  width: 100%;
  height: 120px;
  background-color: rgb(112, 76, 44);
  display: flex;
  position: relative;
}
.footer-logo{
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 70px;
  margin: 20px 70px;
  transition: transform 0.5s ease-in-out;
}
.footer-logo:hover{
  transform: rotate(25deg);
}
.name{
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  margin: 77px 0 0 0;
  font-size: 22px;
}
.footer-site_nobel{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: right;
  margin: 50px 70px;
  text-decoration: none;
  right: 0;
}
.footer-site_nobel a{
  text-decoration: none;
  color: rgb(208, 156, 68);
  font-size: 23px;
}
.footer-YouTube {
  position: absolute;
  width: 60px;
  height: 70px;
  right: 230px; /* Сдвинуть левее, чтобы не пересекалось */
  margin-top: 20px;
  z-index: 10;
  transition: transform 0.5s ease-in-out;
}
.footer-YouTube:hover{
  transform: rotate(25deg);
}
.footer-YouTube img {
  width: 100%;
  height: 100%;
}
.footer-facebook {
  position: absolute;
  width: 60px;
  height: 70px;
  right: 310px; /* Сдвинуть левее, чтобы не пересекалось */
  margin-top: 25px;
  z-index: 10;
  transition: transform 0.5s ease-in-out;
}
.footer-facebook:hover{
  transform: rotate(25deg);
}
.footer-facebook img {
  width: 100%;
  height: auto;
}
.footer-github {
  position: absolute;
  width: 50px;
  height: 70px;
  right: 390px; /* Сдвинуть левее, чтобы не пересекалось */
  margin-top: 30px;
  z-index: 10;
  transition: transform 0.5s ease-in-out;
}
.footer-github:hover{
  transform: rotate(25deg);
}
.footer-github img {
  width: 100%;
  height: auto;
}
.rasdelenie{
  width: 20%;
  height: 10px;
  margin-top: 50px;
  margin-left: 40%;
  background-color: rgb(208, 156, 68);
  border-radius: 10px;
  
}


