* {
  margin: 0;
}
.header-Block {
  position: relative;
  width: 100%;
  
}
.header-Block_logo {
  position: absolute;
  z-index: 11;
  width: 70px;
  height: 70px;
  margin: 20px 70px;
}
.header-Block_biography {
  position: absolute;
  width: 100%;
  z-index: 10;
  margin: 60px 0px 0px 0px ;
  display: flex;
  justify-content: right; /* Центрирование по горизонтали */
  align-items: center;     /* Центрирование по вертикали */
  top: 50%;                /* Сдвигаем вниз на 50% */
  transform: translateY(-50%); /* Точное центрирование по вертикали */
}
.header-Block_biography_text {
  width: 250px;
  background-color: rgb(112, 76, 44);
  z-index: 9;
  margin-right: 440px;
  text-align: center;      /* Центрируем текст внутри блока */
  padding: 20px;           /* Добавляем отступы внутри */
  color: rgb(204, 156, 68);            /* Цвет текста */
  border-radius: 10px;     /* Закругляем углы */
  margin-left: 90px;
}
.header-Block_history{
  position: absolute;
  width: 100%;
  z-index: 10;
  margin: 60px 70px 0px 0px ;
  display: flex;
  justify-content: right;
  align-items: center;     /* Центрирование по вертикали */
  top: 50%;                /* Сдвигаем вниз на 50% */
  transform: translateY(-50%);
}
.header-Block_history_text{
  width: 250px;
  background-color: rgb(112, 76, 44);
  z-index: 9;
  margin-right: 90px;
  text-align: center;
  padding: 20px;
  color: rgb(204, 156, 68);
  border-radius: 10px;
}
.Icon-by-nobel_icon {
  width: 100%;
  height: 100%;
  position: relative;
}
.Icon-by-nobel_icon img {
  width: 100%;
  height: 695px;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  filter: brightness(30%);
}
.Icon-by-nobel_h1{
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 20%;
  transform: translateY(-80%);  /* Центрируем по вертикали */
  justify-content: center;
  color: rgb(204, 156, 68);
  align-items: center;
  text-align: center;
  font-size: 50px;
  font-weight: 100;
}
.body-struct{
  position: relative;
  padding-top:695px;
  width: 100%;
  z-index: 5;
}
.body-struct_text{
  width: 50%;
}
.body-struct_text_conteiner{
  width: 600px ;
  margin: 140px 0 0 250px ;
  text-align: center;
  font-size: 28px;
}

.body-struct_img{
  width: 100%;
  position: absolute;
  display:flex;
  justify-content: right;
}
.body-struct_img_conteiner img {
  width: 700px;
  margin: 20px 90px;
  height: auto;
  object-fit: fill;
  transform: translateY(-80%);
}
.body-struct_text_under-img{
  margin: 100px 633px;
  position: absolute;
  font-size: 23px;
}
.body_second{
  margin: 170px 90px 0;
  font-size: 25px;
  justify-content: left;
  line-height: 1.5;
}
.intrestig-facts{
  margin: 50px 90px;
  font-size: 25px;
  line-height: 2;
}
.footer{
  width: 100%;
  height: 120px;
  background-color: rgb(112, 76, 44);
  display: flex;
}
.footer-logo{
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 70px;
  margin: 20px 70px;
}
.name{
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  margin: 77px 0 0 0;
  font-size: 22px;
}
.footer-site_nobel{
  width: 100%;
  display: flex;
  justify-content: right;
  margin: 50px 70px;
  text-decoration: none;
  right: 0;
}
.footer-site_nobel a{
  text-decoration: none;
  color: rgb(208, 156, 68);
  font-size: 23px;
}

